@charset "utf-8";
/* CSS Document */
/* Nav Buttons */

body {
    display: none;
}

.truck-ListEntry-StartOfListContainer {
    width: 100%;
    height: auto;
    padding: 32px 0 32px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-flex-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto 8px auto;
    min-width: 320px;
    text-align: center;
}

li.overlay-Menu-Saying {
    width: 100%;
    height: auto;
    padding: 64px 0 16px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-flex-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto 8px auto;
    min-width: 320px;
    text-align: center;
}

li.overlay-Menu-Saying > h1,
li.overlay-Menu-Saying > h1 {
    font-family: 'Lobster', italic;
    font-size: 3rem;
    color: #B6D3D8;
    line-height: 100%;
    letter-spacing: 1px;
}

/*.nav-WittySayingContainer {
    padding: 64px 0 16px 0;
}*/

section.truck-ListEntry-StartOfListContainer > h1,
section.truck-ListEntry-EndOfListContainer > h1 {
    font-family: 'Lobster', italic;
    font-size: 3rem;
    color: #B6D3D8;
    line-height: 100%;
    letter-spacing: 1px;
}

.truck-ListEntryOpen-NotFoundText, .number-TrucksListedText {
    font-family: 'Lobster', italic;
    font-size: 3rem;
    color: #B6D3D8;
    line-height: 100%;
    letter-spacing: 1px;
}


ul.button-WhatsComingUpOuter {
    width: 100%;
    margin: 8px auto 160px auto;
}

ul.button-LoginRegister {
    width: 100%;
    margin: 32px auto;
}

/*ul.truck-ListOpen-FooterNavPopUpContainer > li,*/
/*ul.truck-ListOpen-FooterFilterPopUpContainer > li,*/
/*ul.button-LandingPage > li,*/
/*ul.button-WhatsComingUpOuter > li,*/
/*ul.button-LoginRegister > li {*/
    /*width: 75%;*/
    /*max-width: 325px;*/
    /*min-width: 200px;*/
    /*height: auto;*/
    /*display: -webkit-box;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*margin: 8px auto;*/
    /*position: relative;*/
    /*z-index: 50;*/
    /*-webkit-box-flex-direction: column;*/
    /*-moz-box-flex-direction: column;*/
    /*-ms-flex-direction: column;*/
    /*-webkit-flex-direction: column;*/
    /*flex-direction: column;*/
    /*border: 8px solid #D15127;*/
    /*padding: 4px;*/
    /*-webkit-box-align-items: center;*/
    /*-moz-box-align-items: center;*/
    /*-ms-flex-align-items: center;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/
    /*-webkit-box-align-self: center;*/
    /*-moz-box-align-self: center;*/
    /*-ms-flex-align-self: center;*/
    /*-webkit-align-self: center;*/
    /*align-self: center;*/
    /*-webkit-animation-name: fadeInUpBig;*/
    /*-moz-animation-name: fadeInUpBig;*/
    /*-ms-animation-name: fadeInUpBig;*/
    /*-o-animation-name: fadeInUpBig;*/
    /*animation-name: fadeInUpBig;*/
    /*-webkit-animation-duration: .5s;*/
    /*-moz-animation-duration: .5s;*/
    /*-ms-animation-duration: .5s;*/
    /*-o-animation-duration: .5s;*/
    /*animation-duration: .5s;*/
/*}*/

.button-Nav {
    width: 75%;
    max-width: 325px;
    min-width: 200px;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 8px auto;
    position: relative;
    z-index: 50;
    -webkit-box-flex-direction: column;
    -moz-box-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    border: 8px solid #D15127;
    padding: 4px;
    -webkit-box-align-items: center;
    -moz-box-align-items: center;
    -ms-flex-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align-self: center;
    -moz-box-align-self: center;
    -ms-flex-align-self: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-animation-name: fadeInUpBig;
    -moz-animation-name: fadeInUpBig;
    -ms-animation-name: fadeInUpBig;
    -o-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -ms-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
}

ul.button-LandingPage,
.truck-ListEntry-EndOfListContainer {
    width: 100%;
    margin: 8px auto;
    height: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -ms-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -ms-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-direction: column;
    -moz-box-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-flex-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-decoration: none;
    border: 0px solid transparent;
    box-shadow: 0px 0px 0px #101216;
}

.truck-ListEntry-EndOfListContainer {
    margin: 32px 0 16px 0;
}

/*ul.truck-ListOpen-FooterNavPopUpContainer > li > a,*/
/*ul.button-LandingPage > li > a,*/
/*ul.truck-ListOpen-FooterFilterPopUpContainer > li > div,*/
/*ul.button-WhatsComingUpOuter > li > a,*/
/*ul.button-LoginRegister > li > a {*/
    /*display: -webkit-box;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*background-color: #33393e;*/
    /*border: 3px solid #008DAE;*/
    /*-webkit-box-justify-content: center;*/
    /*-moz-box-justify-content: center;*/
    /*-ms-flex-justify-content: center;*/
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
    /*-webkit-box-flex-direction: column;*/
    /*-moz-box-flex-direction: column;*/
    /*-ms-flex-direction: column;*/
    /*-webkit-flex-direction: column;*/
    /*flex-direction: column;*/
    /*text-decoration: none;*/
    /*box-shadow: 0px 5px 8px #101216;*/
    /*text-align: center;*/
    /*border-radius: 5px;*/
    /*text-transform:uppercase*/
/*}*/

.button-Nav > a,
.button-Nav > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #33393e;
    border: 3px solid #008DAE;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-flex-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-flex-direction: column;
    -moz-box-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0px 5px 8px #101216;
    text-align: center;
    border-radius: 5px;
    text-transform:uppercase

}

.button-Nav > a:active {
    border: 3px solid #008DAE;
    background-color:  #008DAE;
    box-shadow: 0px 8px 8px #101216;
}

/*ul.truck-ListOpen-FooterNavPopUpContainer > li > a:active {*/
     /*border: 3px solid #008DAE;*/
     /*background-color:  #008DAE;*/
     /*box-shadow: 0px 8px 8px #101216;*/
/*}*/

.button-NavContainerInner:active, a.truck-ListOpen-FooterFilterPopUp-FilterContainerInner:active, a.truck-ListOpen-FooterNavMenuPopUp-NavContainerInner:active, a.button-WhatsComingUpInner:active {

    border: 3px solid #008DAE;
    background-color:  #008DAE;
    box-shadow: 0px 8px 8px #101216;
}

.button-Nav > a > h1,
.button-Nav > div > h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 1rem;
    color: #B6D3D8;
    letter-spacing: 1px;
    -webkit-transform: scale(1,1.25);
    -moz-transform: scale(1,1.25);
    -ms-transform: scale(1,1.25);
    -o-transform: scale(1,1.25);
    transform: scale(1,1.25);
    margin: 8px;
}

/*.button-NavText, .button-WhatsComingUpText, .truck-ListOpen-FooterNavMenuPopUp-NavText, .truck-ListOpen-FooterFilterPopUp-FilterText {
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-size: 1rem;
	color: #B6D3D8;
	letter-spacing: 1px;
	-webkit-transform: scale(1,1.25);
	-moz-transform: scale(1,1.25);
	-ms-transform: scale(1,1.25);
	-o-transform: scale(1,1.25);
	transform: scale(1,1.25);
	margin: 8px;
}*/

section.footer-OuterContainer > a {
    width: 40px;
    height: 40px;
    background-color: #008DAE;
    border-radius: 50%;
    position: absolute;
    bottom: 64px;
    right: 12px;
    z-index: 70;
    box-shadow: 0px 3px 4px #101216;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-flex-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align-items: flex-end;
    -moz-box-align-items: flex-end;
    -ms-flex-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

section.footer-OuterContainer > a:active {
    box-shadow: 0px 8px 8px #101216;
}

section.footer-OuterContainer > a:focus {
    outline-style: none;
}

section.footer-OuterContainer > a > h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: #B6D3D8;
    line-height: 160%;
    position: relative;
    -webkit-transform: scale(1,1.25);
    -moz-transform: scale(1,1.25);
    -ms-transform: scale(1,1.25);
    -o-transform: scale(1,1.25);
    transform: scale(1,1.25);
    position: relative;
    right: 1px;
}

.footer-OuterContainer {
    width: 100%;
    padding: 0 0 8px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    background-color: #333131;
    z-index: 100;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-top: 6px solid #333131;
    border-bottom: 6px solid #333131;
    max-width: 600px;
    margin: auto;
    min-width: 320px;
}

section.footer-OuterContainer > div:nth-of-type(1) {
    width: 60%;
    min-width: 184px;
    max-width: 100%;
    margin: 0 0 0 8px;
    height: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    float: left;
    z-index: 101;
    -webkit-box-align-self: center;
    -moz-box-align-self: center;
    -ms-flex-align-self: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-box-align-items: center;
    -moz-box-align-items: center;
    -ms-flex-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-justify-content: flex-start;
    -moz-box-justify-content: flex-start;
    -ms-flex-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-transition: all .1s ease-in-out; /* Safari */
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

section.footer-OuterContainer > div:nth-of-type(1) > form {
    width: 100%;
}

section.footer-OuterContainer > div:nth-of-type(1) > form > span > input {
    height: 100%;
    background-color: transparent;
    border-right: 2px solid #33393e;
    padding: 4px 16px 6px 8px;
    width: 100%;
    float: left;
    position: relative;
    top: 4px;
}

button.footer-button-NavMenu, button.footer-button-FilterMenu {
    width: 25%;
    min-width: 20px;
    float: left;
    z-index: 102;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-direction: column;
    -moz-box-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 95%;
    background-color: #008DAE;
    padding: 4px;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-flex-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align-items: center;
    -moz-box-align-items: center;
    -ms-flex-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 6px 0 0;
    box-shadow: 0px 5px 8px #101216;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    border-radius: 5px;
}

button.footer-button-NavMenu {
    width: 20%;
}

button.footer-button-NavMenu:active, button.footer-button-FilterMenu:active {
    box-shadow: 0px 5px 8px #101216;
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    -ms-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: cubic-bezier(0.42, 0.26, 0, 1.33);
    -moz-transition-timing-function: cubic-bezier(0.42, 0.26, 0, 1.33);
    -ms-transition-timing-function: cubic-bezier(0.42, 0.26, 0, 1.33);
    -o-transition-timing-function: cubic-bezier(0.42, 0.26, 0, 1.33);
    transition-timing-function: cubic-bezier(0.42, 0.26, 0, 1.33);
}

button.footer-button-FilterMenu > h1,
button.footer-button-NavMenu > h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    color: #B6D3D8;
    /*line-height: 100%;*/
    letter-spacing: 1px;
    -webkit-transform: scale(1,1.25);
    -moz-transform: scale(1,1.25);
    -ms-transform: scale(1,1.25);
    -o-transform: scale(1,1.25);
    transform: scale(1,1.25);
}

.overlay-Menu {
    position: fixed;
    top: -10px;
    padding: 0;
    height: 0px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #333131;
    z-index: 99;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-direction: column;
    -moz-box-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-flex-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transition: all .5s cubic-bezier(0.43, 0.18, 0.34, 1.37); /* Safari */
    -moz-transition: all .5s cubic-bezier(0.43, 0.18, 0.34, 1.37);
    -ms-transition: all .5s cubic-bezier(0.43, 0.18, 0.34, 1.37);
    -o-transition: all .5s cubic-bezier(0.43, 0.18, 0.34, 1.37);
    transition: all .5s cubic-bezier(0.43, 0.18, 0.34, 1.37);
}


.overlay-MenuShow {
    height: 100vh;
    bottom: -10px;
    top: -5px;
    padding: 0 0 96px 0;
    -webkit-transition: all .5s cubic-bezier(0.43, 0.18, 0.34, 1.37); /* Safari */
    -moz-transition: all .5s cubic-bezier(0.43, 0.18, 0.34, 1.37);
    -ms-transition: all .5s cubic-bezier(0.43, 0.18, 0.34, 1.37);
    -o-transition: all .5s cubic-bezier(0.43, 0.18, 0.34, 1.37);
    transition: all .5s cubic-bezier(0.43, 0.18, 0.34, 1.37);
}


/*////////////////// TWEAKS ////////////////////////*/

.truck-ListOpen-FooterNavMenuPopUp-NavContainer-Show, .truck-ListOpen-FooterFilterPopUp-FilterContainer-Show {
    opacity: 1;
}

.opacity-Zero-NotClickable {
    opacity: 0;
    pointer-events: none;
    cursor: default;
    -webkit-transition: all .35s ease-in-out; /* Safari */
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.overflow-Hidden {
    overflow: hidden;
}

/*@media (min-width: 601px) {
    a.button-RoundBackContainer {
        right: 20vw;
    }
}*/




/*////////////////// MEDIA QUERY ////////////////////////*/

@media (max-width: 550px) {

li.overlay-Menu-Saying > h1,
li.overlay-Menu-Saying > h1{
    font-size: 3rem;
}

section.truck-ListEntry-StartOfListContainer > h1,
section.truck-ListEntry-EndOfListContainer > h1  {
    font-size: 2.5rem;
}

.truck-ListEntryOpen-NotFoundText {
    font-size: 3rem;
    color: #B6D3D8;
}
}

@media (max-width: 400px) {
li.overlay-Menu-Saying > h1,
li.overlay-Menu-Saying > h1 {
    font-size: 2rem;
}

section.truck-ListEntry-StartOfListContainer > h1,
section.truck-ListEntry-EndOfListContainer > h1  {
    font-size: 2rem;
}

.truck-ListEntryOpen-NotFoundText {
    font-size: 2rem;
}
}

@media (max-width: 350px) {
.truck-ListOpen-FooterFilterPopUp-FilterText {
    font-size: .85rem;
}
.truck-ListOpen-FooterNavMenuPopUp-NavText {
    font-size: .85rem;
}
.truck-ListOpen-FooterFilterText {
    font-size: .85rem;
}
.truck-ListOpen-FooterNavMenuText {
    font-size: .85rem;
}
}

@media (max-width: 350px) {
/*.truck-ListOpen-FooterFilterPopUp-FilterText {
	font-size: .85rem;
}*/
li.overlay-Menu-Saying > h1,
li.overlay-Menu-Saying > h1 {
    font-size: 1.75rem;
}

section.truck-ListEntry-StartOfListContainer > h1,
section.truck-ListEntry-EndOfListContainer > h1  {
    font-size: 1.75rem;
}

.truck-ListEntryOpen-NotFoundText {
    font-size: 1.75rem;
}

li.button-Nav > div > h1,
li.button-Nav > a > h1 {
    font-size: .95rem;
}
}

body {
    display: block;
}